<div class="title-wrapper menu">
    <div class="title-logo menu-item"><img style="width: 55.99609375px;" src="{{url_for('static', filename='images/naf-logo.png')}}" loading="lazy" alt="" class="naf-logo"></div>
    <div class="title_text menu-item" style="color: #fff">
      <div class="text-block title-text animate-character">WELCOME TO NAF FINANCE SPECIALTY HALL OF FAME</div> 
    </div>
    <div class="title-logo menu-item"><img style="width: 55.99609375px;" src="{{url_for('static', filename='images/finance-specialty-logo.png')}}" loading="lazy" alt="" class="finance-specialty-logo"></div>
  </div>